@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import "https://cdn.jsdelivr.net/npm/@creativebulma/bulma-tooltip@1.2.0/dist/bulma-tooltip.min.css";

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap");

html {
	min-height: 100%;
}

body {
	font-family: "Source Sans Pro", sans-serif;
}

.navbar {
	display: block;
}

.toolbar button:disabled {
	border: none;
}

[data-tooltip]:before {
	font-size: 0.9rem !important;
	z-index: 5 !important;
}

.nowrap {
	white-space: nowrap;
}

@media (min-width: 480px) {
	.toolbar .control:before {
		display: none;
	}
}

@media (max-width: 480px) {
	.toolbar .button > .icon {
		margin-left: auto !important;
		margin-right: 0 !important;
	}

	.toolbar .button > .text {
		display: none;
	}

	.subitem.field .tags {
		margin-bottom: 0.75rem;
	}

	.subitem.field .control {
		width: 100%;
	}

	.subitem.field .tags .tag {
		margin-bottom: 0;
	}

	.subitem.field .tags.has-addons .tag {
		border-radius: 0;
	}

	.subitem.field .tag {
		display: flex;
		width: 100%;
	}

	.subitem.field .tag.action {
		display: flex;
		width: 50%;
	}
}
